<app-alert></app-alert>
<div class="text-right top-button">
  <button mat-button type="button" (click)="goToAddProduct()">Add Product</button>
</div>
<div *ngIf="dataLoader">
  <mat-spinner class="m-auto"></mat-spinner>
</div>
<div *ngIf="!dataLoader">
  <div *ngIf="products && !products.length" class="text-center mt20">
    No Record Found
  </div>
  <div class="mt20 product-list-container" fxLayout="row wrap" fxLayoutAlign="stretch" fxLayout.lt-md="column"
    fxLayoutGap="20px">
    <mat-card class="product" fxFlex.gt-xs="100%"  fxFlex.gt-md="32%" *ngFor="let item of products; let i = index" >
      <ul class="category-update-btn">
        <li>
          <button mat-button (click)="editProduct(item._id)" title="Update">
            <span class="material-icons">
              edit
            </span>
          </button>
        </li>
        <li>
          <button mat-button (click)="deleteProduct(item._id)" title="Delete">
            <span class="material-icons">
              delete_forever
            </span>
          </button>
        </li>
      </ul>
      <mat-card-header style="justify-content: center">
        <mat-card-title>
          <h3 class="m-0 cursor-pointer" (click)="viewProduct(item._id)" matTooltip="View Product">{{item.title}}</h3>
          <p><span class="text-linethrough"><i class="fas fa-rupee-sign"></i> {{item.price}}</span><span class="sale-price"><i class="fas fa-rupee-sign"></i> {{item.regularPrice}}</span></p>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content [innerHTML]="item.shortDescription | slice:0:100">
        <p>{{item.price}}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>