<mat-card *ngIf="productDetail" class="card-detail">
    <section fxLayout="row">
        <article>
            <h1>{{productDetail.title}}</h1>
            <div class="price"><label><strong>Price</strong> : </label><span class="text-linethrough mrp"><i
                        class="fas fa-rupee-sign"></i>
                    {{productDetail.price}}</span></div>
            <p><label><strong>Quantity</strong> : </label> {{productDetail.quantity}}</p>
            <hr />
            <p>{{productDetail.shortDescription}}</p>
            <hr />
            <label>Description</label>
            <p [innerHTML]="productDetail.description"></p>
        </article>
    </section>
</mat-card>