@import '~src/scss/variables';
.mat-nav-list {
  width: 100%;
  a {
    color: rgba(255,255,255,.9);
      .mat-icon {
          margin-right: 15px;
          color: rgba(255,255,255,.9);
      }
      display: block;
      &.active{
        background-color: #26a69a;
      }
  }
}
.nested-menu {
  .nested {
      list-style-type: none;
  }
  .submenu {
      display: none;
      height: 0;
  }
  & .expand {
      &.submenu {
          display: block;
          list-style-type: none;
          height: auto;
          margin: 0;
          padding-left: 60px;
          li {
              a {
                  padding: 10px;
                  display: block;
              }
          }
      }
  }
}
