.breadcrumb {
    background-color: #efefef;
    border-color: #d2d2d2;
    color: #333;
    padding: 10px 15px;
    margin: 0;
    display: flex;
    a, span {
        color: #333;
        font-size: .8125rem;
        text-decoration: none;
        .mat-icon{
            vertical-align: middle;
        }
    }
    a:hover, span:hover {
        color: dimgrey;
        text-decoration: none;
    }
    li{
        list-style: none;
        margin: 5px 5px 5px 0;
    }
    li:last-child {
        margin-right: 20px;
        margin-left: 0;
        a{
            color: #999;
            pointer-events: none;
        }
    }
    li::after {
        content: ' /';
        color: darkgrey;
    }
    li:last-child::after {
        content: ''
    }
}