/* You can add global styles to this file, and also import other style files */

@import './scss/material';
@import './scss/utils';
@import './scss/spinner';
@import './scss/responsive';
@import './scss/variables';
@import './scss/theme';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.no-padding {
    .mat-form-field-wrapper {
      padding-bottom: 0 !important;
    }
  }