@import '~@angular/material/theming';
@include mat-core();
$primary: mat-palette($mat-blue, 700);
$accent: mat-palette($mat-orange, 700);
$theme: mat-light-theme($primary, $accent);
@include angular-material-theme($theme);


.layout-container{
    .mat-toolbar{
        color: rgba(255,255,255,.9);
        background-color: #324148;
        border-bottom-color: rgba(255,255,255,.1);
    }
}

.mt-10{
    margin-top: 10px !important;
}

.pl-0{
    padding-left: 0 !important;
}

.top-button{
    position: absolute;
    top: 9px;
    right: 15px;
}

.mat-card{
    .mat-card-header{
        .mat-card-header-text{
            margin-left: 0;
            .mat-card-title{
                font-weight: 400;
                font-size: 1.0625rem;
            }
        }
    }
}

.mat-expansion-panel{
    .mat-expansion-panel-content{
        .mat-expansion-panel-body{
            padding: 0 0 16px;
            table{
                margin-top: 10px;
                border-collapse: collapse;
                thead{
                    tr{
                        th{
                            background-color: rgba(38, 166, 154, 0.33);
                            padding: 10px;
                        }
                    }
                }
                tbody{
                    tr{
                        border-bottom: 1px solid #dedede;
                        // background-color: #dedede;
                    }
                }
            }
        }
    }
}

.category-listing{
    mat-card{
        &:nth-child(3n +3) {
            margin-right: 0 !important;
        }
        margin-bottom: 20px;
        .mat-card-image{
            max-height: 221px;
            object-fit: contain;
            background-color: #dedede;
            min-height: 221px;
        }
    }
}

.product-list-container{
    .product{
        margin-bottom: 20px;
        overflow: hidden;
        &:nth-child(3n + 3){
            margin-right: 0 !important;
        }
        .mat-card-image{
            padding-top: 10px;
            max-height: 200px;
            object-fit: contain;
        }
        &.mat-card{
            &:hover{
                transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
                .category-update-btn{
                    display: list-item;
                    
                }
            }
            .category-update-btn{
                position: absolute;
                top: 0;
                right: 10px;
                list-style: none;
                display: none;
                li{
                    button{
                        color: #fff;
                        background-color: #004dda;
                        padding: 1px 8px;
                        min-width: auto;
                        font-size: 16px;
                        margin-bottom: 10px;
                        opacity: 0.9;                
                    }
                }
            }
            .mat-card-header{
                .mat-card-header-text{
                    width: 100%;
                    margin-right: 0;
                    .mat-card-title{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 100%;
                        h3{
                            max-width: 250px;
                        }
                        p{
                            display: flex;
                            flex-direction: column;
                            align-items: flex-end;
                            .sale-price{
                                font-weight: 700;
                                color: #004dda;
                            }
                        }
                    }
                }
            }
            .product-quantity-status{
                position: absolute;
                transform: rotate(-50deg);
                left: -38px;
                top: 39px;
                text-transform: uppercase;
                background: green;
                width: 150px;
                text-align: center;
                color: #fff;
                font-size: 12px;
                padding: 5px;
            }
        }
    }
}

.angular-editor-textarea{
    height: 300px !important;
}

.fileUploadContainer{
    position: relative;
    background-color: #dedede;
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    .custom-file-upload {
        border: 1px solid #ccc;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
        position: absolute;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        max-width: 200px;
        box-sizing: border-box;
        color: #fff;
        text-align: center;
    }
    
    input[type="file"] {
        display: none;
    }
}

.cursor-pointer{
    cursor: pointer;
}

.filter-container{
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    .mat-form-field{
        margin-left: 20px;
    }
    .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
    .mat-form-field-label-wrapper { top: -1.5em; }
    .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
        transform: translateY(-1.1em) scale(.75);
        width: 133.33333%;
    }
} 